$primaryColor: #4527a4;

.wp-block-b-blocks-blockquote {
	* {
		box-sizing: border-box;
	}

	background: #ffcc00;
	justify-content: center;
	padding: 70px 0;
	overflow: hidden;

	.bBlocksBlockquote {
		position: relative;
		overflow: hidden;
		padding: 0 20px;

		text-align: center;
		font-size: 3.3rem;
		margin: auto;
		overflow: visible;

		blockquote {
			// padding: 0;
			// margin: 0;
			color: white;
			text-shadow: -1px 1px #555;
			font-style: italic;
		}

		cite {
			font-size: 1.7rem;
			color: #336699;

			&:before {
				content: "\2014 \0020";
				width: 5px;
			}
		}
	}

	.default {
		position: relative;
		max-width: 70%;
		blockquote {
			position: relative;
			z-index: 20;
		}
		cite {
			position: relative;
			z-index: 20;
		}
		.quoteOpen {
			position: absolute;
			top: -2px;
			left: -20px;
			width: 150px;
			text-align: left;
			z-index: 10;
			font-size: 8rem;
			color: #336699;
			background-color: #ffcc00;
			line-height: 200px;
		}
		.quoteClose {
			position: absolute;
			bottom: -50px;
			right: -20px;
			width: 150px;
			text-align: right;
			z-index: 10;
			font-size: 8rem;
			color: #336699;
			background-color: #ffcc00;
			line-height: 200px;
		}
	}
}
