$primaryColor: #4527a4;

.wp-block-b-blocks-blockquote {
	* {
		box-sizing: border-box;
	}

	justify-content: center;
	padding: 70px 0;
	overflow: hidden;

	.bBlocksBlockquote {
		position: relative;
		overflow: hidden;
		padding: 0 20px;
		text-align: center;
		font-size: 3.3rem;
		margin: auto;
		overflow: visible;

		blockquote {
			padding: 0;
			margin: 0; 
		}
		cite { 
			&:before {
				content: "\2014 \0020";
				width: 5px;
			}
		}
	}

	.default {
		position: relative; 
		.content {
			padding: 40px 70px; 
		}
		blockquote {
			position: relative;
			margin-bottom: 10px;
			z-index: 20;
		}
		cite {
			position: relative;
			z-index: 20;
		}
		.quoteOpen {
			position: absolute;
			top: -15px;
			left: -20px;
			width: 150px;
			text-align: left;
			z-index: 10; 
			line-height: 200px;
		}
		.quoteClose {
			position: absolute;
			bottom: -50px;
			right: -20px;
			width: 150px;
			text-align: right;
			z-index: 10; 
			line-height: 200px;
		}
	}
}
