$primaryColor: #4527a4;

.wp-block-b-blocks-blockquote {
	* {
		box-sizing: border-box;
	}

	justify-content: center;
	overflow: hidden;

	.bBlocksBlockquote {
		position: relative;
		overflow: hidden;
		text-align: center;
		margin: auto;
		overflow: visible;

		blockquote {
			padding: 0;
			margin: 0;
		}
		cite {
			&:before {
				content: "\2014 \0020";
				width: 5px;
			}
		}
	}

	.default {
		position: relative;
		padding: 0 20px;

		.content {
			padding: 40px 70px;
		}
		blockquote {
			position: relative;
			margin-bottom: 10px;
			z-index: 20;
		}
		cite {
			position: relative;
			z-index: 20;
		}
		.quoteOpen {
			position: absolute;
			top: -15px;
			left: -20px;
			width: 150px;
			text-align: left;
			z-index: 10;
			line-height: 200px;
		}
		.quoteClose {
			position: absolute;
			bottom: -50px;
			right: -20px;
			width: 150px;
			text-align: right;
			z-index: 10;
			line-height: 200px;
		}
	}

	.theme1 {
		position: relative;

		.content {
			padding: 30px 0 30px 100px;

			blockquote {
				&::before {
					content: "";
				}
			}
		}

		&::before {
			font-family: Arial;
			content: "\201C";
			color: #78c0a8;
			font-size: 180px;
			font-style: italic;
			line-height: 90px;
			position: absolute;
			left: 0;
			top: 0;
		}

		cite {
			display: block;
			color: #333333;
			font-style: normal;
			font-weight: bold;
			margin-top: 1em;
		}
	}
}
